---
// src/pages/events.astro
import Layout from "@/layouts/Layout.astro";
import LenisProvider from "@/providers/lenis-provider";
import Navbar from "@/components/general/Navbar";
import Footer from "@/components/general/Footer";
import EventsFeed from "@/components/events/EventsFeed";
import Hero from "@/components/events/Hero";

import {MOCK_EVENTS} from "@/mock/events-data"
import { navbarContent } from "@/content/nav";
import { footerContent } from "@/content/footer";
---

<Layout>
  <LenisProvider client:load>
    <Navbar navbarContent={navbarContent} client:idle={{ timeout: 200 }} />
    
    <main class="min-h-screen">
        <Hero client:load />
      <EventsFeed items={MOCK_EVENTS} client:visible={{ rootMargin: "100px" }} />
    </main>

    <Footer footerContent={footerContent} client:visible={{ rootMargin: "100px" }} />
  </LenisProvider>
</Layout>
